{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sermon Finder - Like Shazam, But For Sermons</title>
    <script src="../static/js/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/icons/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="font-mono duration-500 ease-linear">
    <section class="grid w-full min-h-svh justify-center items-center p-10">
        <div class="upload-area p-5 border border-2 border-slate-300 hover:border-slate-400 rounded transition-all grid justify-items-center gap-4">
            <div class="form-brief">
                <h3 class="text-2xl font-semibold text-cyan-800">Share a sermon.</h3>
            </div>
            <form hx-post="sermon/upload/" hx-target="#form-status" hx-swap="innerHTML" hx-encoding="multipart/form-data" id="upload-sermon-form" class="grid w-min rounded-full px-10 py-9 bg-cyan-800 hover:bg-cyan-900 duration-500 ease-linear cursor-pointer">
                <input type="file" class="hidden" id="upload-sermon-cta" name="sermon">
                <label for="upload-sermon-cta" class="grid gap-4 cursor-pointer">
                    <i class="fa fa-upload text-4xl text-zinc-100 cursor-pointer"></i>
                </label>
                <input type="submit" id="upload-submit-cta" class="hidden">
            </form>
            <div id="form-status"></div>
        </div>
    </section>
</body>
<script>
    document.querySelector("#upload-sermon-cta").addEventListener("change", () => {
        document.querySelector("#upload-submit-cta").click()
    })
</script>
</html>
{{ end }}

{{ block "form-status" . }}
    {{ if eq .status "success" }}
    <p class="text-base font-medium text-green-500">{{.message}}</p>
    {{ else }}
    <p class="text-base font-medium text-red-500">{{.message}}</p>
    {{ end }}
{{ end }}